<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Book Catalog</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{url_for('show_categories')}}">Categories</a></li>
        </ul>
        {% if session['user_id'] %}
        <div id="loggedInUser" class="navbar-right navbar-text">
            Logged in as: {{session['username']}}
        </div>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% if not session['user_id'] %}
            <li id="signinButton"><a href="{{url_for('show_login')}}">Log In</a></li>
            {% endif %}
            {% if session['user_id'] %}
            <li id="signOutButton"><a href="#" onclick="signOut();">Sign Out</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="flashed">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
    </ul>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<script>
function signOut() {
    $.ajax({
        type: 'POST',
        url: '/disconnect',
        success: function(result) {
            if (result){
                $('#loggedInUser').html("Logged out. Refreshing page...");
                setTimeout(function() {
                    window.location.reload(true);
                }, 3000);
                location.reload(true);
            }
        }
    })
}
</script>
